h1{
	color: red;
	text-align: center;
}
b{
	color: blue;
	text-align: center;
}
p{
	color: green;
	text-align: center;
}
.st{
	color :pink;
	text-align: center;
}
#eg{
	color: yellow;
	text-align: center;
}
body{
	background-color: gray;
}
