<!DOCTYPE html>
<html>
<head>
	<title>internal css</title>
	<style>
		h1{
			color :pink;
			background-color: yellow;
			padding: 30px;
			font-style: italic;
			text-align: center;
			border-style: double;
            border-color: purple;
		}
		p{
			background-color: #79ECF5;
			border-style: dotted;
			border-color: pink;
		}
		body{
			background-color: lightgreen;
			border-style: dashed;
			border-color: red;
		}
	</style>
</head>
<body>
<h1>HI......! THIS IS THE INTRODUCTION OF GUDDU........... </h1>
<p>guddu is a good girl.
she always scolded by psk,she is very naughty.<br>
she has head weight infront of attitude people.<br>
she have sensible heart.<br>
sometimes she behave like kid on that time she is looking dam cute.<br>
nick name of guddu is piggy.</p>
</p>
</body>
</html>